Repository romafanasiev/next-bb: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint, stylelint '**/*.css'

add linting
  .husky/pre-commit
Due: none

add linting
  src/pages/_app.tsx
Due: next lint

add linting
  .lintstagedrc
  src/pages/_app.tsx
Due: next lint

add auth form
  package-lock.json
  package.json
  src/components/footer/footer.tsx
  src/components/footer/index.ts
  src/components/formFields/index.ts
  src/components/formFields/textField.tsx
  src/components/forms/authForm/authForm.tsx
  src/components/forms/authForm/index.ts
  src/components/forms/index.ts
  src/components/index.ts
  src/components/navBar/index.ts
  src/components/navBar/navbar.tsx
  src/constants/formFieldNames.ts
  src/constants/index.ts
  src/constants/messages.ts
  src/constants/regexp.ts
  src/constants/routes.ts
  src/constants/supportedFileTypes.ts
  src/layouts/index.ts
  src/layouts/mainLayout/index.tsx
  src/layouts/mainLayout/mainLayout.tsx
  src/pages/auth/index.tsx
  src/pages/index.tsx
  src/styles/globals.css
  src/types/formTypes.ts
  src/types/index.ts
  src/utils/index.ts
  src/utils/validations/index.ts
  src/utils/validations/validation.ts
  tailwind.config.js
  tsconfig.json
Due: next lint, stylelint '**/*.css'

add admin cloud function
  .firebaserc
  .gitignore
  firebase-debug.log
  firebase.json
  package-lock.json
  package.json
  src/components/index.ts
  src/components/navBar/navbar.tsx
  src/layouts/mainLayout/mainLayout.tsx
  src/modules/index.ts
  src/modules/navBar/index.ts
  src/modules/navBar/navbar.tsx
  src/pages/auth/index.tsx
  src/pages/index.tsx
  src/utils/firebase/firebase.ts
Due: next lint

add routes for auth
  src/components/formFields/textField.tsx
  src/components/forms/authForm/authForm.tsx
  src/constants/routes.ts
  src/hooks/index.ts
  src/hooks/useLogin/index.ts
  src/hooks/useLogin/useLogin.ts
  src/hooks/useSignUp/index.ts
  src/hooks/useSignUp/useSignUp.tsx
  src/layouts/mainLayout/mainLayout.tsx
  src/modules/navBar/navbar.tsx
  src/pages/_app.tsx
  src/pages/auth/index.tsx
  src/pages/index.tsx
  src/pages/signUp.tsx
  src/utils/firebase/firebase.ts
Due: next lint

finish login logic
  src/hooks/useSignUp/useSignUp.tsx
  src/modules/navBar/navbar.tsx
  src/pages/auth/index.tsx
  src/pages/index.tsx
  src/pages/signUp.tsx
Due: next lint

add routes and private routing
  src/constants/routes.ts
  src/helpers/index.ts
  src/helpers/protectedPages.ts
  src/hooks/useLogin/useLogin.ts
  src/hooks/useSignUp/useSignUp.tsx
  src/modules/navBar/navbar.tsx
  src/pages/about.tsx
  src/pages/admin/dashboard.tsx
  src/pages/admin/index.tsx
  src/pages/admin/mailing.tsx
  src/pages/admin/update.tsx
  src/pages/admin/upload.tsx
  src/pages/auth/index.tsx
  src/pages/cart.tsx
  src/pages/faq.tsx
  src/pages/index.tsx
  src/pages/signUp.tsx
  src/utils/firebase/firebase.ts
Due: next lint

add user context to about/cart/faq pages
  src/pages/about.tsx
  src/pages/cart.tsx
  src/pages/faq.tsx
Due: next lint

add async to ssr props function
  src/pages/admin/dashboard.tsx
  src/pages/admin/index.tsx
  src/pages/admin/mailing.tsx
  src/pages/admin/update.tsx
  src/pages/admin/upload.tsx
Due: next lint

fixing admin routes
  src/pages/admin/index.tsx
Due: next lint

fixing admin routes
  src/hoc/index.ts
  src/hoc/withAdmin/index.ts
  src/hoc/withAdmin/withAdmin.tsx
  src/pages/admin/dashboard.tsx
  src/pages/admin/index.tsx
Due: next lint

fixing admin routes
  src/hoc/withAdmin/withAdmin.tsx
  src/pages/admin/dashboard.tsx
  src/pages/admin/mailing.tsx
  src/pages/admin/update.tsx
  src/pages/admin/upload.tsx
Due: next lint

fixing admin routes
  src/hoc/withAdmin/withAdmin.tsx
Due: next lint

fixed admin login logic
  src/helpers/index.ts
  src/helpers/protectedPages.ts
Due: next lint

implement sidebar
  .babelrc
  .eslintrc.json
  next.config.js
  package-lock.json
  package.json
  public/icons/arrow.svg
  public/icons/chartBar.svg
  public/icons/mail.svg
  public/icons/note.svg
  public/upload.svg
  src/assets/icons/arrow.svg
  src/assets/icons/chartBar.svg
  src/assets/icons/mail.svg
  src/assets/icons/note.svg
  src/assets/icons/upload.svg
  src/assets/index.ts
  src/components/footer/footer.tsx
  src/components/index.ts
  src/components/sidebar/index.ts
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/styles.ts
  src/layouts/adminLayout/adminLayout.tsx
  src/layouts/adminLayout/index.tsx
  src/modules/navBar/navbar.tsx
  src/pages/admin/dashboard.tsx
  src/pages/admin/index.tsx
  src/pages/admin/mailing.tsx
  src/pages/admin/update.tsx
  src/pages/admin/upload.tsx
  src/styles/globals.css
  tailwind.config.js
Due: next lint, stylelint '**/*.css'

implement sidebar
  .eslintignore
  tsconfig.eslint.json
Due: none

add reusability
  src/components/sidebar/components/navItem.tsx
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/styles.ts
Due: next lint

finish sidebar
  src/components/sidebar/components/navItem.tsx
  src/components/sidebar/sidebar.tsx
  src/helpers/classNamesContextHelper/classNamesContextHelper.ts
  src/helpers/classNamesContextHelper/index.ts
  src/helpers/index.ts
  src/types/classNames.ts
  src/types/index.ts
Due: next lint

add upload form
  src/assets/thumbnail.jpg
  src/components/formFields/textField.tsx
  src/components/forms/authForm/authForm.tsx
  src/components/forms/uploadForm/index.ts
  src/components/forms/uploadForm/uploadForm.tsx
  src/components/sidebar/components/navItem.tsx
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/styles.ts
  src/constants/supportedFileTypes.ts
  src/helpers/classNamesContext/classNamesContext.ts
  src/helpers/classNamesContext/index.ts
  src/helpers/classNamesContextHelper/index.ts
  src/pages/admin/upload.tsx
  src/types/constants.ts
  src/types/formTypes.ts
  src/types/index.ts
  src/utils/validations/validation.ts
Due: next lint

add optional validation
  src/utils/validations/validation.ts
Due: next lint

finished with loading
  package-lock.json
  package.json
  src/api/firebase/firebase.ts
  src/api/firebase/index.ts
  src/api/index.ts
  src/components/forms/uploadForm/uploadForm.tsx
  src/components/sidebar/styles.ts
  src/pages/admin/upload.tsx
  src/styles/globals.css
  src/utils/firebase/firebase.ts
  src/utils/validations/validation.ts
Due: next lint, stylelint '**/*.css'

finished with uploading
  src/api/firebase/index.ts
  src/api/firebase/uploadTrack.ts
  src/components/forms/uploadForm/uploadForm.tsx
  src/constants/errorMessages.ts
  src/constants/formFieldNames.ts
  src/constants/index.ts
  src/constants/licenseTypes.ts
  src/constants/musicKeys.ts
  src/constants/supportedFileTypes.ts
  src/layouts/adminLayout/adminLayout.tsx
  src/pages/admin/upload.tsx
  src/pages/signUp.tsx
  src/utils/validations/validation.ts
Due: next lint

start implementing homepage
  .eslintignore
  next.config.js
  src/api/firebase/uploadTrack.ts
  src/components/forms/uploadForm/uploadForm.tsx
  src/components/index.ts
  src/components/trackCard/index.ts
  src/components/trackCard/trackCard.tsx
  src/components/trackCover/index.ts
  src/components/trackCover/trackCover.tsx
  src/components/tracksList/index.ts
  src/components/tracksList/tracksList.tsx
  src/constants/formFieldNames.ts
  src/layouts/mainLayout/mainLayout.tsx
  src/pages/auth/index.tsx
  src/pages/index.tsx
  src/pages/signUp.tsx
  src/styles/globals.css
  src/types/index.ts
  src/types/track.ts
  src/utils/validations/validation.ts
Due: next lint, stylelint '**/*.css'

start implementing tracks table
  src/api/firebase/uploadTrack.ts
  src/components/trackCard/trackCard.tsx
  src/components/tracksList/tracksList.tsx
  src/helpers/getAudioDuration/getAudioDuration.ts
  src/helpers/getAudioDuration/index.ts
  src/helpers/index.ts
  src/types/track.ts
Due: next lint

finished tracks table
  src/components/badge/badge.tsx
  src/components/badge/index.ts
  src/components/index.ts
  src/components/trackCard/trackCard.tsx
  src/components/trackCover/trackCover.tsx
  src/components/tracksList/tracksList.tsx
  src/styles/globals.css
Due: next lint, stylelint '**/*.css'

add track context
  src/components/index.ts
  src/components/player/index.ts
  src/components/player/player.tsx
  src/components/portal/index.ts
  src/components/portal/portal.tsx
  src/components/trackCard/trackCard.tsx
  src/components/tracksList/tracksList.tsx
  src/constants/containersIds.ts
  src/constants/index.ts
  src/context/index.ts
  src/context/trackContext/index.ts
  src/context/trackContext/trackContext.tsx
  src/helpers/createWrapperAppendToBody/createWrapperAppendToBody.ts
  src/helpers/createWrapperAppendToBody/index.ts
  src/helpers/index.ts
  src/hooks/index.ts
  src/hooks/useSignUp/useSignUp.ts
  src/hooks/useTrack/index.ts
  src/hooks/useTrack/useTrack.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/types/constants.ts
Due: next lint

add icons
  src/assets/icons/forward.svg
  src/assets/icons/muted.svg
  src/assets/icons/play.svg
  src/assets/icons/repeat.svg
  src/assets/icons/replay.svg
  src/assets/icons/shuffle.svg
  src/assets/icons/skipBackward.svg
  src/assets/icons/skipForward.svg
  src/assets/icons/stop.svg
  src/assets/icons/volumeDown.svg
  src/assets/icons/volumeUp.svg
  src/components/index.ts
  src/components/player/index.ts
  src/components/player/player.tsx
  src/components/portal/index.ts
  src/components/trackCard/trackCard.tsx
  src/components/trackCover/trackCover.tsx
  src/components/tracksList/tracksList.tsx
  src/context/trackContext/trackContext.tsx
  src/pages/index.tsx
  src/styles/globals.css
Due: next lint, stylelint '**/*.css'

add waveformplayer
  package-lock.json
  package.json
  src/components/index.ts
  src/components/player/player.tsx
  src/components/waveForm/index.ts
  src/components/waveForm/waveForm.tsx
  src/hooks/index.ts
  src/hooks/useWavesurfer/index.ts
  src/hooks/useWavesurfer/styles.ts
  src/hooks/useWavesurfer/useWavesurfer.ts
  src/modules/waveFormPlayer/index.ts
  src/modules/waveFormPlayer/waveFormPlayer.tsx
  src/pages/index.tsx
  src/styles/globals.css
Due: next lint, stylelint '**/*.css'

implementing player
  package-lock.json
  package.json
  postcss.config.js
  src/assets/icons/close.svg
  src/components/player/player.tsx
  src/components/trackCover/trackCover.tsx
  src/components/waveForm/waveForm.tsx
  src/context/trackContext/trackContext.tsx
  src/hooks/useWavesurfer/styles.ts
  src/layouts/mainLayout/mainLayout.tsx
  src/modules/waveFormPlayer/waveFormPlayer.tsx
  src/styles/globals.css
Due: next lint, stylelint '**/*.css'

add mathcmedia hook
  package-lock.json
  package.json
  src/components/player/player.tsx
  src/hooks/index.ts
  src/hooks/useMatchMedia/index.ts
  src/hooks/useMatchMedia/useMatchMedia.ts
  src/pages/_document.tsx
Due: next lint

finish control styles
  next.config.js
  package-lock.json
  package.json
  src/components/player/components/index.ts
  src/components/player/components/volume.tsx
  src/components/player/player.tsx
  src/components/player/styles.ts
  src/components/tracksList/tracksList.tsx
  src/hooks/useWavesurfer/useWavesurfer.ts
  src/modules/waveFormPlayer/waveFormPlayer.tsx
  src/pages/_app.tsx
  src/styles/globals.css
  tailwind.config.js
Due: next lint, stylelint '**/*.css'

finish player
  src/components/player/components/controls.tsx
  src/components/player/components/index.ts
  src/components/player/components/volume.tsx
  src/components/player/player.tsx
  src/components/player/styles.ts
  src/components/player/types.ts
  src/context/trackContext/trackContext.tsx
  src/hooks/index.ts
  src/hooks/useTrack/useTrack.ts
  src/hooks/useTracks/index.ts
  src/hooks/useTracks/useTracks.ts
  src/hooks/useWavesurfer/useWavesurfer.ts
  src/modules/waveFormPlayer/waveFormPlayer.tsx
  src/pages/index.tsx
Due: next lint

remove volume from context
  src/hooks/useTrack/useTrack.ts
Due: next lint

fix button colors
  src/components/player/components/controls.tsx
  src/components/player/styles.ts
Due: next lint

update files
  package-lock.json
  src/components/player/player.tsx
  src/components/player/styles.ts
  src/components/waveForm/waveForm.tsx
  src/constants/breakpoints.ts
  src/constants/index.ts
  src/context/trackContext/trackContext.tsx
  src/hooks/index.ts
  src/hooks/useMatchMedia/useMatchMedia.ts
  src/hooks/useTrack/useTrack.ts
  src/hooks/useWavesurfer/useWavesurfer.ts
  src/hooks/useWindowSize/index.ts
  src/hooks/useWindowSize/useWindowSize.tsx
  src/modules/waveFormPlayer/waveFormPlayer.tsx
Due: next lint

add store manager into project
  package-lock.json
  package.json
  src/assets/icons/addToCart.svg
  src/assets/index.ts
  src/components/button/Button.tsx
  src/components/button/index.ts
  src/components/index.ts
  src/components/trackCard/trackCard.tsx
  src/components/tracksList/tracksList.tsx
  src/constants/breakpoints.ts
  src/constants/index.ts
  src/constants/storageIds.ts
  src/pages/index.tsx
  src/store/index.ts
  src/store/store.ts
  src/types/track.ts
  tailwind.config.js
Due: next lint

add cart into nav bar
  src/components/index.ts
  src/components/indicator/index.ts
  src/components/indicator/indicator.tsx
  src/hooks/index.ts
  src/hooks/useCart/index.ts
  src/hooks/useCart/useCart.ts
  src/modules/navBar/navbar.tsx
  src/pages/index.tsx
Due: next lint

Path conditions:
  next lint: any of: *.{js,jsx,ts,tsx}
  stylelint '**/*.css': any of: *.css
